@import 'aos/dist/aos.css';

.App {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cffafe;
}





.text-white {
  color: rgb(8, 99, 91);
}

.text-secondary {
  color: #999;
}

.bg-white {
  background-color: rgb(29, 37, 37);
}



.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-10 {
  width: 2.5rem;
}

.h-10 {
  height: 2.5rem;
}

.rounded-full {
  border-radius: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-5 {
  margin-top: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.list-disc {
  list-style-type: disc;
}

.space-y-2 > :not(:last-child) {
  margin-bottom: 0.5rem;
}

.text-14px {
  font-size: 14px;
}

.text-16px {
  font-size: 16px;
}

.text-24px {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center ;

}

.font-bold {
  font-weight: bold;
}

.font-semibold {
  font-weight: 600;
}

.pl-1 {
  padding-left: 0.25rem;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.m-3 {
  margin: 0.75rem;
}

.card-img_hover {
  transition: transform 0.2s;
}

.card-img_hover:hover {
  transform: scale(1.05);
}


.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}






input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}



@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.lol {
  position: relative;
  background-color: #253b44;
  font-family: 'Arial', sans-serif;
}
/* Container for the introduction */
.intro-container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 13rem;
}

.intro-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #1a202c; /* Darker color for contrast */
  text-align: center;
  position: relative;
  margin: 0;
  padding: 1rem;
  background: linear-gradient(135deg, #ff7e5f, #feb47b, #fab885, #f6ba8d, #b1896b, #b0886a); /* Gradient text background */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 588px) {
  .intro-heading {
    font-size: 1.5rem; /* Adjust heading font size */
  }
  
  .intro-text {
    font-size: 14px; /* Adjust text font size */
    margin-top: 2rem; /* Adjust top margin */
  }
}


.intro-heading::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  background: #feb47b; /* Underline color */
  transform: translateY(10px);
}

.lol::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10px; /* Adjust the thickness of the border */
  background: linear-gradient(270deg, #d7d7d7, #9ca4a9, #6f6f6f, #484a4a);
  background-size: 400% 400%;
  animation: moveGradient 5s ease infinite;
  border-radius: 3px; /* Adjust for rounded corners */
}




h2 {
  text-align: center;
  margin-bottom: 20px;
}

button {
  width: 100%;
  margin: 10px 0;
}


.card {
  box-shadow: 0px 0px 20px rgba(16, 39, 46, 0.2);
  border-radius: 5px;
}


nav{
  & .nav-link:hover{
    cursor: pointer;
    
    background-color: rgb(146, 99, 10);
    border-radius: 15px;
  }
  
}














.card-header, .card-footer {
  padding: 15px;
  background-color: rgba(25, 151, 173, 0.8);
}




@keyframes expandUnderline {
  0%, 100% {
    width: 0;
    left: 50%;
  }
  50% {
    width: 100%;
    left: 0;
  }
}

.experience-role {
  color: #555;
  margin-bottom: 10px;
}

.card-body {
  padding: 15px;
  color: #cffafe;
}

.experience-description {
  margin: 0;
}

.experience-duration {
  font-weight: bold;
  color: #333;
}



/* Add this to your CSS file */
.transition-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Adjust the margin as needed */
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px; /* Adjust the margin as needed */
  border-radius: 50%;
  background-color: #cccccc; /* Color of inactive dots */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #bcc9d6; /* Color of active dot */
}
/* Add this CSS to your existim115g CSS file or App.css */

.all-projects-container {
  position: relative;
  overflow: visible; /* Make sure it's not 'hidden' */

}
.all-projects-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto; /* Adjust as needed */
}

.project-content-section {
  flex: 1; /* Two-thirds of the space */
  padding: 20px; /* Adjust as needed */
  color: white; /* Text color */
  /* Additional styling here */
}

.lottie-animation-section {
  flex: 1; /* One-third of the space */
  padding: 20px; /* Adjust as needed */
  /* Additional styling here */
}



.lottie-container {
  position: fixed; /* Fixed position */
  right: 10px; /* Adjust as needed */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust to exactly center vertically */
  z-index: 10; /* Ensure it's above other content */
}



.card {
  background-color: #2c3e50;
  color: #ecf0f1;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  max-width: 340px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-image-container {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
  
}


.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.card-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  cursor: pointer; /* Change cursor on hover */

}

.card:hover .card-hover {
  opacity: 1;
}

.icon-container {
  background-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  cursor: pointer;
}

.icon-container:hover {
  background-color: #ecf0f1;
}

.icon {

  width: 70%;
  height: auto;
  margin-left: 4px;
  object-fit:contain;
}



.carder-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 1rem 0;
}

.card-description {
  margin: 10px 0;
  font-size: 14px;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
}




















.profile-image {
  transition: transform 0.3s;
  border-radius: 50%;
}

.profile-image:hover {
  transform: scale(1.1);
}









.shadow-effect {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: box-shadow 0.3s, transform 0.3s;
}

.shadow-effect:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.description-text {
  font-size: 1.2em;
  color: #afa7a7;
  margin-top: 20px;
}
@keyframes gradientMotion {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.gradient-background {
  background-image: linear-gradient(to right, #ffffff, #ffffff, #fcfcfc);
  background-size: 200% 100%;
  animation: gradientMotion 6s ease infinite;
  min-height: 100vh;
  padding: 50px;
}
.work_gradient-background {
  background-size: 200% 100%;
  animation: gradientMotion 6s ease infinite;
  min-height: 10vh;
  padding: 50px;
}
.project-background {
  background-size: 200% 100%;
  animation: gradientMotion 6s ease infinite;
  min-height: 10vh;
  padding: 50px;
}

  

/* Adjust text colors and other styles as needed to ensure text is readable against the new background */

.profile-section {
  text-align: center;
  padding: 50px;
}



.description-text {
  color: #907034;
  font-size: 18px;
  margin-top: 20px;
}

.profile-image {
  border-radius: 50%;
  box-shadow: 0px 4px 15px #1818181a;
  margin-bottom: 30px;
}





:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(145, 5%, 55%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}




.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.carder-content {
  
  background: linear-gradient(
    hsla(189, 24%, 65%, 0.521),
    hsla(195, 4%, 82%, 0.3) 20%,
    hsl(180, 4%, 80%)
  );
  padding: 0 3rem;
}

.carder-title {
  position: relative;
  width: max-content;

}

.card:hover .carder-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
  cursor: pointer;
}

.carder-title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: calc(100% + var(--padding));
  left: calc(var(--padding) * -1);
  bottom: -2px;
  background: var(--clr-accent-400);
  transform-origin: left;
  transition: transform 500ms ease;
}
body {
  padding: 5px; /* adjust as needed */
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 0.25rem;
}

.button:hover,
.button:focus {
  background-color: var(--clr-neutral-100);
}

.card-body {
  color: rgb(255, 255, 255/0.85);
}

@keyframes goldGradientMotion {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.gold-motion-gradient {
    background-image: linear-gradient(to right, rgb(51, 49, 49), #565958, rgb(165, 165, 165));
    background-size: 200% 100%;
    color: rgb(201, 196, 187) !important;
    animation: gradientMotion 6s ease infinite;
    border: 2px solid #221701;
    border-radius: 7px;
    padding: 10px 20px;
    font-weight: bolder;
}



@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}













.footer {
  
  background-color: #404647;
  color: rgba(255, 255, 255, 0.537);
}

.footer-links{
  color: rgba(255, 255, 255, 0.551);
  margin-bottom: 30px;

}
.footer-link {
  
  color: rgba(255, 255, 255, 0.551);
  margin-bottom: 0px;
}







@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
  /* width: 100%; */
}


.project-section{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
  /* margin-top: 4rem; */
}

.project-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

